@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans:wght@300&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0vh;
  padding: 0vh;
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.user-container {
  margin: 5vh;
}

body {
  background-color: #ecf0f1;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
  color: #747373;
}

.post {
  margin: 10px;
  padding-bottom: 4vh;
  border-bottom: 2px solid rgb(0, 123, 94, 0.15);
}

.image {
  height: 5vh;
  width: 5vh;
  margin-right: 5vh;
  margin-left: 1vh;
}
.container {
  display: flex;
  height: 8vh;
  align-items: center;
  background-color: #dde0e2;
}
.contact {
  padding: 1vh;
  margin: 2vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10vh;
}

.postTitle {
  font-size: 2.5vh;
  font-weight: bold;
  margin: 2vh 0vh;
  margin-left: 2vh;
  color: #747373;
}
.commentsBtn {
  padding: 1vh;
  margin: 2vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.32);
  border-radius: 10vh;
  width: 15vw;
  cursor: pointer;
  border: none;
  margin-top: 2vh;
  margin-left: 3vh;
  color: #007b5e;
  background-color: white;
}

.commentsBtn:hover {
  background-color: rgb(0, 123, 94);
  color: white;
}

.completePost {
  margin-top: 8vh;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header {
  color: #007b5e;
  font-weight: bold;
}

.postBody {
  margin-left: 2vh;
  padding-bottom: 1vh;
}

.only-post {
  background-color: rgb(0, 123, 94, 0.2);
  color: white;
  font-weight: bold;
  font-size: 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5vh;
}

.only-post-data {
  color: white;
  font-weight: bold;
  font-size: 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5vh;
}

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}

.single-comment {
  margin: 3vh 3vh;
  background-color: white;

  padding: 2vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(20, 44, 24, 0.36),
    0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.comment-header {
  display: flex;
  flex-direction: column;
  margin: 1vh 0vh;
  justify-content: space-around;
  border-bottom: 2px solid rgb(0, 123, 94, 0.25);
}

.comment-header div {
  color: #007b5e;
  padding: 1vh;
  margin: 0vh 0vh;
}

.para {
  padding: 1vh;
  margin: 1vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.32);
  background-color: #ecf0f1;
  border-radius: 2vh;
}

.emailContainer {
  font-size: 1.5vh;
}
.username {
  font-size: 2.4vh;
}

.bold {
  font-weight: bold;
}

.bold-color {
  font-weight: bold;
}

.bold-green {
  font-weight: bold;
  color: #007b5e;
}
.user-header {
  display: flex;
  margin: 4vh 0vh;
  justify-content: space-between;
}

.user-box {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.user-header div {
  padding: 1vh;
  margin: 0vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10vh;
}

.user-image {
  height: 40px;
  margin-top: 3vh;
}
.addressField {
  margin-top: 1vh;
}

.website {
  margin-top: 0vh;
  margin-bottom: 4vh;
  padding: 1vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10vh;
}
.post-title {
  font-size: 3vh;
  font-weight: bold;
  color: #007b5e;
}
.post-para {
  color: #747373;
  margin-top: 1vh;
}

.nav {
  background-color: rgb(0, 123, 94, 0.4);
  height: 5vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  padding: 2vh;
  margin-left: 10vh;
  color: black;
  text-decoration: none;
  color: rgb(0, 123, 94);
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .commentsBtn {
    width: 30vw;
    margin-bottom: 5vh;
  }
  .postBody {
    font-size: 2vh;
  }
  .para {
    border-radius: 0vh;
    font-size: 2vh;
  }
}

@media screen and (max-width: 405px) {
  .commentsBtn {
    width: 35vw;
    margin-bottom: 5vh;
  }
  .postBody {
    font-size: 2vh;
  }
  .para {
    border-radius: 0vh;
    font-size: 2vh;
  }

  .user-header div {
    padding: 1vh;
    margin: 0vh 0.5vh;
    font-size: 1.8vh;
  }

  .contact,
  .website {
    padding: 1vh;
    margin: 1.5vh 0.5vh;
    font-size: 2vh;
  }

  .addressField {
    margin: 1vh 0vh;
  }

  .website {
    margin-bottom: 4vh;
  }
  .nav {
    background-color: rgb(0, 123, 94, 0.4);
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link {
    padding: 0.5vh;
    margin-left: 0vh;
    color: black;
    text-decoration: none;
    color: rgb(0, 123, 94);
    font-size: 1.7vh;
    font-weight: bold;
  }

  .addressField span {
    font-size: small;
  }
}
